.carousel-wrapper{
    position: relative;
    overflow: hidden;

}

.carItem{
    white-space: nowrap;
}

#slider{
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
}

.sliderWrapper{

}

.carousel-wrapper .btns{
    height: 20px;
    width: 20px;
    border-left: 5px solid #416fcb;
    border-top: 5px solid #416fcb;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    opacity: 0.8;
}

.carousel-wrapper .btns.inactive{
    border-color: rgb(185 185 185);
    pointer-events: none;
}

.carousel-wrapper .btns:first-of-type{
    transform: rotate(-45deg);
    left: 10px
}

.carousel-wrapper .btns:last-of-type{
    transform: rotate(135deg);
    right: 10px;
}

.carItem a {
    color: #1399ab;
    text-decoration: none;
}

.carItem a span {
    font-size: 13px;
    border-bottom: 1px solid transparent;
    transition: .15s all linear;
}

.carItem a ion-icon {
    font-size: 20px;
}

.carItem a:hover{
    color: #6578ff;
}

.carItem a:hover span{
    border-bottom: 1px solid #6578ff;
}