.fs-14{font-size: 14px;}
.fs-18{font-size: 18px;}

.progress-bar-vertical {
    width: 14px;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    float: left;
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

.legend{
    display: block;
    width: 25px;
    height: 10px;
    margin-right: 15px;
}

.fit-cont{width: fit-content;}

.tblHeight{max-height: 300px;}

.clickRow{cursor: pointer;}